loopback_users.guest = false
cluster_formation.peer_discovery_backend = classic_config
cluster_formation.classic_config.nodes.1 = {{ cluster_nodes[0] }}
cluster_formation.classic_config.nodes.2 = {{ cluster_nodes[1] }}
cluster_formation.classic_config.nodes.3 = {{ cluster_nodes[2] }}
